{% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../../static/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Student Information System
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <a class="nav-link" aria-current="page" href="{{ url_for('student.index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('student.about_page') }}">About</a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col md-4">
      <h2 class="student-title">
        <img src="../../static/images/students.png" alt="Logo" width="37" height="36" class="d-inline-block align-text-top">
        Student List
      </h2>
      <div class="col md-4">
        <button class="btn custom-btn" id="addNew" data-bs-toggle="modal" data-bs-target="#addStudentForm">Add student</button>
        <a href="/students" class="btn custom-btn-2"  role="button" type="button" aria-disabled="true">Refresh</a>
      </div>

      <div class="search-form">
        <form class="" method="post" action="{{ url_for('student.search') }}">
          <select id="field" name="field" class="form-select-search p-2">
            <option value="id">ID Number</option>
            <option value="first">First Name</option>
            <option value="middle">Middle Name</option>
            <option value="last">Last Name</option>
            <option value="gender">Gender</option>
            <option value="year">Year Level</option>
            <option value="course">Course</option>
          </select>
          <input id="searchField" type="text" class="p-2 m-2 searchfield" name="user-input" placeholder="Search ID Number">
          <button class="search-bar"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
        
    </div>

    {% include "alert_message.html"%}

  </div>

</div>



<!-- Student Data Table -->
<div class="container my-3">
  <table class="table table-hover table-responsive">
    <thead class="table-custom">
        <tr>
            <th class="text-center" width= "10%" scope="col">ID Number</th>
            <th class="text-center" width= "5%" scope="col">Profile</th>
            <th class="text-center" width= "20%" scope="col">Name</th>
            <th class="text-center" width= "10%" scope="col">Gender</th>
            <th class="text-center" width= "10%" scope="col">Year Level</th>
            <th class="text-center" width= "10%" scope ="col">Course</th>
            <th class="text-center" width= "17%" scope ="col">Actions</th>
        </tr>
    </thead>
    <tbody>
      {% for student in data[0] %}
          <tr>
            <td class="text-center"><b>{{student.0}}</b></td>
            {% if student.7 and ('cloudinary.com' not in student.7) %}
            <td data-bs-toggle="modal" data-bs-target="#student{{student.0}}">
                <div class="student-table-image-container">
                    <img class="student-table-image"
                    src="../static/entity_photos/students/{{student.7}}">
                </div>
            </td>
            {% elif 'cloudinary.com' in student.7 %}
            <td data-bs-toggle="modal" data-bs-target="#student{{student.0}}">
                <div class="student-table-image-container">
                    <img class="student-table-image" src="{{student.7}}">
                </div>
            </td>
            {% else %}
            <td>
                <div style="width: 50px; height: 50px; border-radius: 50px; display: flex; overflow: hidden;">
                    <img style="display: flex; justify-content: center;" 
                    src="../static/entity_photos/students/student-profile-template.png">
                </div>
            </td>
            {% endif %}
            {% if student[2].strip() != '' %}
            <td class="text-center">{{student.1}} {{student[2][0]}}. {{student.3}}</td>
            {% endif %}
            {% if student[2].strip() == '' %}
            <td class="text-center">{{student.1}} {{student.3}}</td>
            {% endif %}
            <td class="text-center">{{student[4]}}</td>
            <td class="text-center">{{student[5]}}</td>
            <td class="text-center" title="{{student.8}}">{{student[6]}}</td>
            <td>
                <a href="{{url_for('student.update', id=student[0])}}" class="btn btn-outline-info mx-2" data-bs-toggle="modal" data-bs-target="#updateStudent{{student[0]}}"><i class="fas fa-edit"></i> Edit</a>
                <a href="{{url_for('student.delete', id=student[0])}}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to remove {{student.1}} ?')"><i class="fas fa-trash"></i> Delete</a>
            </td>
          </tr>


        <!-- Edit Student Modal -->
        <div class="modal fade" id="updateStudent{{student[0]}}" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="d-flex">
                            <h5 class="modal-title" id="studentformtitle"><i class="fa fa-user" style="font-size:30px;"></i>&nbsp;Update Student</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" action="{{ url_for('student.update', id=student.0) }}" method="post" enctype="multipart/form-data">
                            <div class="image-container flex-column">
                                <div class="image-wrapper ">
                                    <div class="image">
                                        <img id="displayed-image{{student.0}}" src="{{student.7}}">
                                    </div>
                                </div>
                                <div>
                                  <input type="file" class="form-control" accept="image/png, image/jpeg" id="update-image-inp{{student.0}}"  value="{{student.7}}" name="selected-image{{student.0}}" onchange="updateDisplay()" hidden>
                                  <button onclick="updateImage('{{student.0}}')" id="custom-btn" type="button">CHOOSE PHOTO</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="student-id" class="form-label">ID Number</label>
                                <input type="studentinfo" class="form-control" id="student-id" value="{{student.0}}" name="student-id" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="firstname" class="form-label">First Name</label>
                                <input type="studentinfo" class="form-control" id="firstname" value="{{student.1}}" name="firstname" required>
                                <div class="invalid-feedback">Please enter First Name</div>
                            </div>
                            <div class="mb-3">
                                <label for="middlename" class="form-label">Middle Name</label>
                                <input type="studentinfo" class="form-control" id="middlename" value="{{student.2}}" name="middlename">
                                <small id="middlenameHelp" class="form-text text-muted">Type NA if not applicable</small>
                            </div>
                            <div class="mb-3">
                                <label for="lastname" class="form-label" required>Last Name</label>
                                <input type="studentinfo" class="form-control" id="lastname" value="{{student.3}}" name="lastname">
                                <div class="invalid-feedback">Please enter Last Name</div>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <select id="gender" name="gender" class="form-select">
                                    <option value="{{student[4]}}">{{student[4]}}</option>
                                    {% for gender in ['Male', 'Female'] %}
                                        {% if gender != student[4] %}
                                            <option value="{{gender}}">{{gender}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="yearlevel" class="form-label">Year Level</label>
                                <select id="yearlevel" name="yearlevel" class="form-select">
                                    <option value="{{student.5}}" selected>{{student.5}}</option>
                                    {% for year in range (1,5) %}
                                        {% if year != student[5] %}
                                            <option value="{{year}}">{{year}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="course" class="form-label">Course</label>
                                <select id="course" name="course" class="form-select">
                                    <option value="{{student.8}}" name="course">{{student.8}}</option>
                                    {% for course in data[1] %}
                                        {% if course[1] != student[8] %}
                                            <option value="{{course[1]}}" name="course">{{course[1]}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn custom-btn-2">Save Changes</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        
    {% endfor %}
    </tbody>

 <!-- Add Student Modal -->
 <div class="modal fade" id="addStudentForm" data-bs-backdrop="static"
 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
 aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">

       <div class="modal-header">
           <div class="d-flex">
               <h5 class="modal-title" id="studentformtitle"><i class="fa fa-user" style="font-size:30px;"></i>&nbsp;Add New Student</h5>
           </div>
       </div>

       <div class="modal-body">
           <form class="needs-validation" action="{{ url_for('student.add') }}" method="post" enctype="multipart/form-data">

               <div class="image-container flex-column">
                   <div class="image-wrapper ">
                       <div class="image">
                           <img id="add-selected-image" src="../static/images/pic-template.png" alt="">
                       </div>
                       <div id="file-name" hidden></div>
                   </div>
                   <div>
                     <input type="file" class="form-control" accept="image/png, image/jpeg" id="add-image-inp" value="" name="selected-image" required hidden>
                     <button class="btn custom-btn-3" onclick="addImage()" id="custom-btn" type="button">Add Photo</button>
                   </div>
               </div>

               <div class="mb-3">
                   <label for="student-id" class="form-label">ID Number</label>
                   <input type="studentinfo" class="form-control" id="student-id" name="student-id" placeholder="YYYY-NNNN" maxlength="9" minlength="9" pattern="^[0-9]{4}-[0-9]{4}$" required>
                   <div class="invalid-feedback">Please enter an ID</div>
               </div>
               <div class="mb-3">
                   <label for="firstname" class="form-label">First Name</label>
                   <input type="studentinfo" class="form-control" id="firstname" name="firstname" required>
                   <div class="invalid-feedback">Please enter First Name</div>
               </div>
               <div class="mb-3">
                   <label for="middlename" class="form-label">Middle Name</label>
                   <input type="studentinfo" class="form-control" id="middlename" name="middlename">
                   <small id="middlenameHelp" class="form-text text-muted">Leave it blank if not applicable</small>
               </div>
               <div class="mb-3">
                   <label for="lastname" class="form-label" required>Last Name</label>
                   <input type="studentinfo" class="form-control" id="lastname" name="lastname">
                   <div class="invalid-feedback">Please enter Last Name</div>
               </div>
               <div class="mb-3">
                   <label for="gender" class="form-label">Gender</label>
                   <select id="gender" name="gender" class="form-select">
                       <option value="Male">Male</option>
                       <option value="Female">Female</option>
                       <option value="Gay">Others</option>
                   </select>
               </div>
               <div class="mb-3">
                   <label for="yearlevel" class="form-label">Year Level</label>
                   <select id="yearlevel" name="yearlevel" class="form-select">
                     {% for year in range (1,6) %}
                         <option value="{{year}}">{{year}}</option>
                     {% endfor %}
                   </select>
               </div>
               <div class="mb-3">
                   <label for="course" class="form-label">Course</label>
                   <select id="course" name="course" class="form-select">
                       {% for course in data[1] %}
                           <option value="{{course[1]}}" name="course">{{course[1]}}</option>
                       {% endfor %}
                   </select>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                 <button type="submit" class="btn custom-btn-2" id="addstudentclicked">Add Student</button>
             </div>
           </form>
       </div>
   </div>
</div>
</div>

    
    <tfoot>
        <tr>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      
                      <form action="{{ url_for('student.prev') }}" method="post">
                        <li class="page-item">
                          {% if limit == 'min' or limit == 'min-and-max' %}
                          <button type="submit" class="page-link" aria-label="Previous" name="previous" disabled><< Previous</button>
                          {% else %}
                          <button type="submit" class="page-link" aria-label="Previous" name="previous"><< Previous</button>
                          {% endif %}
                        </li>
                      </form>
                
                      <form action="{{ url_for('student.next') }}" method="post">
                        <li class="page-item">
                          {% if limit == 'max' or limit == 'min-and-max' %}
                          <button type="submit" class="page-link"  aria-label="Next" name="next" disabled>Next >></button>
                          {% else %}
                          <button type="submit" class="page-link"  aria-label="Next" name="next">Next >></button>
                          {% endif %}
                        </li>
                      </form>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
<div>
</div>


{% endblock %}




